@font-face{
    font-family: 'Oswald';
    font-weight: 700;
    src: url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');;
}

@font-face{
    font-family: 'Ruda';
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Ruda&display=swap');
}